.usercard{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 90px;
    
     
  
  }
  .userlist1{
      background-image: url(../images/login1.jpg);
      width: 300px;
      height: 270px;
      margin-bottom: 30px;
      margin-right: 50px;
      font-family: sans-serif;
      /* border-radius: 20px;
       */
      

     
  
  
  }
  
  .userheading{
     text-align: center;
     margin-top: -10px;
     font-family: sans-serif;
  }
  
  #userlistbutton{
      padding: 5px 10px;
      font-size: 18px;
  }